.blog-wrapper {
  width: 300px;
  margin: auto;
  display: block;
  text-align: center;

  ul {
    padding: 0;
    display: grid;
    gap: 1rem;

    li {
      list-style: none;
    }
    .blog-item {
      p {
        margin-bottom: 0;
      }
    }

    .back-to {
      margin-top: 20px;
    }
  }
}
